 body{
            margin-top: 10px;
            font-family: 'Poppins', sans-serif;
            background-image: url(/majestic-mountain-range-under-a-purple-sky.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            color: #fff;
            animation: slider 40s linear infinite;
        }
        @keyframes slider {
            0%{background-image: url(/majestic-mountain-range-under-a-purple-sky.jpg);}
            33.33%{background-image: url(/download.jpeg);}
            66.66%{background-image: url(/glowing-mountains-wallpaper-preview.jpg);}
        }
        @media only screen and (max-width:600px) {
             .hero h1 {
                font-size: 40px;
            }
            .nav {
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }
        }
        nav{
            display: flex;
          justify-content: space-between;
          align-content: center;
          padding: 25px 50px ;
        }
        .logo{
            font-size: 28px;
            font-weight: bold;
        }
        .nav a{
            text-decoration: none;
            color:aliceblue;
            margin-left: 25px;
            border: 2px solid transparent;
            padding: 5px 10px;
            transition: border-color 0.3s;
        }
        .nav a:hover{
            border-color: grey;
        }
        .hero{
            text-align: center;
            margin-top: 10%;
            padding: 0 20px;
        }
        .hero h1{
            font-size: 80px;
            margin-top: 20px;
        }
        .hero p{
            font-size: 18px;
            max-width: 600px;
            margin: 0 auto 30px;
        }
        .btn{
            padding: 10px 30px;
            font-size: 16px;
            border-radius: 15px;
            border: none;
            background-color: #ffffff;
            color: #000;
            cursor: pointer;
            transition: border-color 0.3s;
        }
        .btn:hover{
            background-color: #f8f3f3f6;
            opacity: 0.6;
        }