  .img{
            margin-top: 10%;
            width: 300px;
            height: 200px;
        }
         nav{
           background-color: black;
            display: flex;
          justify-content: space-between;
          align-content: center;
          padding: 25px 50px ;
        }
        .logo{
            color: rgb(255, 255, 255);
            font-size: 28px;
            font-weight: bold;
        }
        .nav a{
            text-decoration: none;
            color:rgb(189, 189, 189);
            margin-left: 25px;
            border: 2px solid transparent;
            padding: 5px 10px;
            transition: border-color 0.3s;
        }
        .nav a:hover{
            border-color: grey;
        }
        .content{
            margin-top: 60px;
            margin-left: 500px;
            color: grey;
         }
         .content h4{
            margin-left: 100px;
         }